In [36]:
#import pandas library
import pandas as pd

In [40]:
#define dataframe based on csv data (on BigFoot sightings)
bigfoot_geo_df = pd.read_csv("bfro_reports_geocoded.csv")
bigfoot_geo_df.head()

5082
Index(['observed', 'location_details', 'county', 'state', 'season', 'title',
       'latitude', 'longitude', 'date', 'number', 'classification', 'geohash',
       'temperature_high', 'temperature_mid', 'temperature_low', 'dew_point',
       'humidity', 'cloud_cover', 'moon_phase', 'precip_intensity',
       'precip_probability', 'precip_type', 'pressure', 'summary',
       'conditions', 'uv_index', 'visibility', 'wind_bearing', 'wind_speed'],
      dtype='object')

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,precip_intensity,precip_probability,precip_type,pressure,summary,conditions,uv_index,visibility,wind_bearing,wind_speed
0,I am not sure how relevant this report will be...,"We were on our way to Rapid City, so we were h...",Washakie County,Wyoming,Summer,NaN,NaN,NaN,NaN,798.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,I don't know if what I saw was two bigfoots or...,"Heading to the deep mine Poca #2, the airshaft...",Wyoming County,West Virginia,Winter,Report 13237: Daylight sighting near an abando...,37.58135,-81.29745,2005-12-03,13237.0,...,0.204,100.0,"['rain', 'snow']",1018.7,Partly cloudy throughout the day with late aft...,"Snow, Rain, Partially cloudy",NaN,9.3,168.1,17.1
2,"My family and I went to Ludlow, Vermont for Co...",It's off Rt 100 outside of Ludlow Vermont. It ...,Windsor County,Vermont,Fall,Report 13285: Evening sighting by motorists on...,43.46540,-72.70510,2005-10-08,13285.0,...,3.208,100.0,['rain'],1011.8,Cloudy skies throughout the day with a chance ...,"Rain, Overcast",NaN,5.0,356.2,7.6
3,It was spring break 1984 and I was 16 at the t...,"Wythe county Virginia near Wytheville, looking...",Wythe County,Virginia,Spring,"Report 2285: Boy sees ""Bigfoot"" in the woods w...",37.22647,-81.09017,1984-04-08,2285.0,...,0.000,0.0,NaN,1020.9,Partly cloudy throughout the day.,Partially cloudy,NaN,13.0,107.3,11.5
4,It was the winter of 1996 and we were on our w...,"Hwy 182, Wood County Between Quitman, Texas an...",Wood County,Texas,Winter,Report 2048: Night time road crossing observation,32.79430,-95.54250,1996-12-22,2048.0,...,NaN,0.0,NaN,NaN,Partly cloudy throughout the day.,Partially cloudy,NaN,10.5,180.4,20.8

In [53]:
#Create new dataframe copy and remove columns with large gaps in data
bigfoot_clean_df = bigfoot_geo_df.copy()
bigfoot_clean_df = bigfoot_clean_df.drop(columns=["uv_index","precip_type"])

Index(['observed', 'location_details', 'county', 'state', 'season', 'title',
       'latitude', 'longitude', 'date', 'number', 'classification', 'geohash',
       'temperature_high', 'temperature_mid', 'temperature_low', 'dew_point',
       'humidity', 'cloud_cover', 'moon_phase', 'precip_intensity',
       'precip_probability', 'pressure', 'summary', 'conditions', 'visibility',
       'wind_bearing', 'wind_speed'],
      dtype='object')

In [56]:
#Drop rows with null data and provide a data count
bigfoot_clean_df = bigfoot_clean_df.dropna(how="any")
bigfoot_clean_df.describe()

,latitude,longitude,number,temperature_high,temperature_mid,temperature_low,dew_point,humidity,cloud_cover,moon_phase,precip_intensity,precip_probability,pressure,visibility,wind_bearing,wind_speed
count,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000
mean,39.494905,-97.030853,24764.758354,68.910798,58.772107,49.232114,46.842877,68.769610,45.721702,0.482817,0.093595,37.143862,1016.925185,9.977664,197.733099,12.525712
std,5.738927,17.231881,20675.672362,17.655631,16.106402,15.866494,16.221422,15.378247,32.962072,0.288743,0.290920,48.327438,6.007157,4.784433,98.915517,4.854203
min,25.141000,-149.785300,60.000000,3.400000,-3.200000,-8.800000,-13.300000,7.800000,0.000000,0.000000,0.000000,0.000000,980.400000,0.500000,0.100000,0.700000
25%,35.529010,-118.395300,7259.000000,57.100000,47.800000,38.000000,36.100000,60.000000,15.150000,0.250000,0.000000,0.000000,1013.300000,8.100000,127.500000,9.100000
50%,39.537220,-90.184440,20435.000000,71.600000,60.500000,50.100000,47.800000,71.200000,43.300000,0.480000,0.000000,0.000000,1016.800000,9.600000,205.900000,11.700000
75%,44.362060,-82.410780,38281.500000,82.650000,71.300000,61.200000,59.000000,79.700000,75.200000,0.750000,0.035500,100.000000,1020.400000,9.900000,279.800000,15.000000
max,64.891390,-68.228300,75577.000000,109.500000,96.100000,85.600000,77.300000,100.000000,100.000000,0.980000,5.781000,100.000000,1042.200000,69.600000,360.000000,55.000000